<mat-card>
  <div *ngIf="post">
    <button mat-icon-button (click)="goToDetails(post.id)"><mat-icon>keyboard_backspace</mat-icon></button><span><small><strong>Detalles</strong></small></span>
    <br>
    <hr>
    <br>
  </div>
  <mat-card-title>
    <small><strong>{{ post ? 'Editar' : 'Agregar' }} Post</strong></small>
  </mat-card-title>

  <form [formGroup]="postForm" (ngSubmit)="addPost()" novalidate>

    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-form-field>
        <input matInput placeholder="ID de Usuario" formControlName="userId">
        <mat-error *ngIf="postForm.controls.userId.invalid">Ingrese un ID de Usuario</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput placeholder="Título del Post" formControlName="title">
        <mat-error *ngIf="postForm.controls.title.invalid">Ingrese un título para el post</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput placeholder="Cuerpo del Post" formControlName="body">
        <mat-error *ngIf="postForm.controls.body.invalid">Ingrese un cuerpo para el post</mat-error>
      </mat-form-field>

    </div>

    <br>

    <mat-card-actions>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button type="submit" color="primary" [disabled]="!postForm.valid || bAdd">
            <mat-progress-spinner *ngIf="bAdd" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
            <span *ngIf="!bAdd"><strong>{{ post ? 'EDITAR' : 'AGREGAR' }} POST</strong></span>
        </button>
      </div>
    </mat-card-actions>
  
  </form>

  <button mat-raised-button color="warn" (click)="goToList()" [disabled]="bAdd">
      <span><strong>IR AL LISTADO</strong></span>
  </button>

  <br>

  <mat-card-content>

  </mat-card-content>
</mat-card>