<mat-progress-bar mode="indeterminate" *ngIf="!comments"></mat-progress-bar>

<mat-card *ngIf="comments">
  <button mat-icon-button (click)="goToDetails(id)"><mat-icon>keyboard_backspace</mat-icon></button><span><small><strong>Detalles</strong></small></span>
  <br>
  <hr>
  <br>
  <mat-card-title>
    <small><strong>Comentarios de #{{id}}</strong></small>
  </mat-card-title>
  
  <br>

  <mat-card-content>
    <mat-list *ngFor="let comment of comments">
      <mat-list-item><p>Nombre: <strong>{{comment.name}}</strong></p></mat-list-item>
      <br><br>
      <mat-list-item><p>Email: <strong>{{comment.email}}</strong></p></mat-list-item>
      <br><br>
      <mat-list-item><p>Cuerpo: <strong>{{comment.body}}</strong></p></mat-list-item>
      <br><br>
      <mat-divider></mat-divider>
      <br><br>
    </mat-list>
  </mat-card-content>

</mat-card>