<mat-progress-bar mode="indeterminate" *ngIf="!posts"></mat-progress-bar>

<mat-card *ngIf="posts">
  <mat-card-title>
    <small><strong>Lista de Posts</strong></small>
  </mat-card-title>

  <form [formGroup]="filterForm" (ngSubmit)="filterByUserId()" novalidate>

    <div>
      <mat-form-field>
        <input matInput placeholder="ID de Usuario" formControlName="userId">
        <mat-error *ngIf="filterForm.controls.userId.invalid">Ingrese un ID de Usuario</mat-error>
      </mat-form-field>
      <button mat-icon-button class="icon-search" type="submit" [disabled]="!filterForm.valid">
        <mat-progress-spinner *ngIf="bSearch" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
        <span *ngIf="!bSearch"><mat-icon>search</mat-icon></span>
      </button>
    </div>
  
  </form>

  <br>

  <mat-card-content>

      <span *ngIf="posts.length == 0"><i>No hay resultados para mostrar</i></span>

      <table *ngIf="posts.length != 0" mat-table [dataSource]="posts" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- User ID Column -->
          <ng-container matColumnDef="ID de Usuario">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">ID de Usuario</th>
            <td mat-cell *matCellDef="let post"> {{post.userId}} </td>
          </ng-container>
        
          <!-- ID Column -->
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">ID</th>
            <td mat-cell *matCellDef="let post"><button mat-icon-button><strong>{{post.id}}</strong></button></td>
           
          </ng-container>
        
          <!-- Title Column -->
          <ng-container matColumnDef="Titulo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Titulo</th>
            <td mat-cell *matCellDef="let post"> {{post.title}} </td>
          </ng-container>
        
          <!-- Body Column -->
          <ng-container matColumnDef="Cuerpo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Cuerpo</th>
            <td mat-cell *matCellDef="let post"> {{post.body}} </td>
          </ng-container>

          <ng-container matColumnDef="Detalles">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Detalles</th>
            <td mat-cell *matCellDef="let post">
              <button mat-icon-button (click)="goToDetails(post.id)">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </mat-card-content>
</mat-card>
