<mat-progress-bar mode="indeterminate" *ngIf="!post"></mat-progress-bar>

<mat-card *ngIf="post">
  <button mat-icon-button (click)="goToList()"><mat-icon>keyboard_backspace</mat-icon></button><span><small><strong>Lista de Posts</strong></small></span>
  <br>
  <hr>
  <br>
  <mat-card-title>
    <small><strong>Detalles de Post #{{post.id}}</strong></small>
  </mat-card-title>
  
  <br>
  
  <mat-card-content>
    <p>ID de Usuario: <strong>{{post.userId}}</strong></p>
    <p>ID: <strong>{{post.id}}</strong></p>
    <p>Título: <strong>{{post.title}}</strong></p>
    <p>Cuerpo: <strong>{{post.body}}</strong></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goToComments()"><strong>COMENTARIOS</strong></button>
    <button mat-raised-button class="warning" (click)="goToEdit(post)"><strong>EDITAR</strong></button>
    <button mat-raised-button class="danger" (click)="openDeleteDialog()"><strong>ELIMINAR</strong></button>
  </mat-card-actions>
</mat-card>
