<mat-toolbar class="toolbar">

    <div>
      <a 
      href="https://www.strappinc.com" 
      title="Desarrollo de Software y Consultoría Tecnológica" 
      data-height="60"
      data-padding="15">
        <img width="100" src="./assets/newLogoStrappBlanco.png">
      </a>
    </div>
  
    <span class="spacer"></span>
    
    <span fxHide.xs = "true"><small><strong>Prueba Programador FrontEnd</strong></small></span>
  
    <span class="spacer"></span>
  
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToAdd()">Agregar</button>
      <button mat-menu-item (click)="goToList()">Listar</button>
    </mat-menu>
  
  </mat-toolbar>