<h2 mat-dialog-title>Eliminar Post</h2>
<mat-dialog-content>¿Seguro desea eliminar este Post?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close [disabled]="bDelete"><strong>NO</strong></button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="warn" (click)="deletePost()" [disabled]="bDelete">
    <mat-progress-spinner *ngIf="bDelete" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
    <span *ngIf="!bDelete"><strong>SI</strong></span>
  </button>
</mat-dialog-actions>
  
