/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.spacer {
    flex: 1 1 auto;
}

.toolbar {
    background: linear-gradient(45deg, rgb(199, 206, 2) 0%, rgb(193, 188, 23) 27%, rgb(168, 0, 137) 75%, rgb(116, 30, 143) 100%);
    color: white;
}

.mat-card{
    background-color: white;
    color: #333333;
}

.warning {
    background-color: rgb(192, 192, 60);
    color: white;
}

.danger {
    background-color: rgb(216, 41, 41);
    color: white;
}

body {
    min-width: 400px;
}